@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
    --text-outline: rgba(255, 255, 255, 0.5);
    --text-outline-size: 1px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.text-outline {
    text-shadow: var(--text-outline-size) var(--text-outline-size) 0
            var(--text-outline),
        var(--text-outline-size) var(--text-outline-size) 0 var(--text-outline),
        var(--text-outline-size) var(--text-outline-size) 0 var(--text-outline),
        var(--text-outline-size) 1px 0 var(--text-outline);
}
